# Exploratory Data Analysis
Erik Matovič a Simon Kokavec

## 0. Importovanie

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

## 1. Základný opis dát spolu s ich charakteristikami

Pre dosiahnutie plného počtu bodov uveďte
počet záznamov,
počet atribútov,
ich typy,
pre zvolené významné atribúty ich distribúcie, základné deskriptívne štatistiky a pod.

In [2]:
# read labor and profiles dataset
df_labor = pd.read_csv('./data/labor.csv', sep='\t')
df_profiles = pd.read_csv('./data/profiles.csv', sep='\t')

labor.csv má 10035 riadkov/atributov a 18 stĺpcov/features
profiles.csv má 3064 riadkov/atributov a 10 stĺpcov/features

In [3]:
df_labor.shape, df_profiles.shape

((10035, 18), (3064, 10))

labor.csv má 18 stĺpcov, prevažne sú numerického typu(int a float), niektoré sú typu object  
zároveň je vidieť nesúmer medzi poćtom atribútov - 100035 je celkový poćet, avšak niektoré záznamy majú o 30 menej, t.j. 10005(stĺpce hematokrit, er-cv, erytrocyty, hbver, alt, ast, trombocyty, eryrt, hemoglobin) a niektoré(leukocyty a alp) majú 10004 -> nutnosť riešiť pri transformácií údajov

In [11]:
df_labor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10035 entries, 0 to 10034
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    10035 non-null  int64
 1   hemoglobin    10005 non-null  float64
 2   leukocyty     10004 non-null  float64
 3   etytr         10005 non-null  float64
 4   weight        10035 non-null  float64
 5   trombocyty    10005 non-null  float64
 6   ast           10005 non-null  float64
 7   alp           10004 non-null  float64
 8   relationship  10035 non-null  object
 9   name          10035 non-null  object
 10  alt           10005 non-null  float64
 11  hbver         10005 non-null  float64
 12  smoker        10035 non-null  object
 13  erytrocyty    10005 non-null  float64
 14  er-cv         10005 non-null  float64
 15  indicator     10035 non-null  float64
 16  ssn           10035 non-null  object
 17  hematokrit    10005 non-null  float64
dtypes: float64(13), int64(1), object(4)
memory usage: 1.4+ MB

profiles.csv má 10 stĺpcov, prevažne sú objektového typu(str), unnamed: 0 je celočíselného typu(integer) 
zároveň je vidieť, že všetky záznamy majú rovnaký poćet atribútov - 3064

In [12]:
df_profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3064 entries, 0 to 3063
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3064 non-null   int64
 1   name              3064 non-null   object
 2   sex               3064 non-null   object
 3   current_location  3064 non-null   object
 4   blood_group       3064 non-null   object
 5   residence         3064 non-null   object
 6   birthdate         3064 non-null   object
 7   race              3064 non-null   object
 8   ssn               3064 non-null   object
 9   address           3064 non-null   object
dtypes: int64(1), object(9)
memory usage: 239.5+ KB

In [4]:
df_profiles.describe()

        Unnamed: 0
count  3064.000000
mean   1531.500000
std     884.644938
min       0.000000
25%     765.750000
50%    1531.500000
75%    2297.250000
max    3063.000000

In [5]:
df_labor.describe()

,Unnamed: 0,hemoglobin,leukocyty,etytr,weight,trombocyty,ast,alp,alt,hbver,erytrocyty,er-cv,indicator,hematokrit
count,10035.00000,10005.000000,10004.000000,10005.000000,10035.000000,10005.000000,10005.000000,10004.000000,10005.000000,10005.000000,10005.000000,10005.000000,10035.000000,10005.000000
mean,5017.00000,6.416198,6.777737,5.990406,69.859131,6.437079,68.231703,71.309492,2.197095,6.864928,6.427883,50.593076,0.641455,6.417913
std,2896.99931,1.006319,1.645043,1.633699,34.627389,0.988548,8.291273,19.056185,3.726174,1.700452,1.701901,13.840494,0.479597,1.004907
min,0.00000,2.944150,0.217130,0.000000,-68.325310,2.999650,0.000000,0.000000,0.000000,1.495520,1.032780,0.000000,0.000000,2.713920
25%,2508.50000,5.735950,5.474353,4.823230,46.136205,5.764240,62.610470,62.698557,0.926420,5.422540,5.151340,41.482190,0.000000,5.735940
50%,5017.00000,6.428260,6.828010,5.823300,69.491810,6.443160,68.257620,77.772515,1.229920,6.752090,6.296280,50.508420,1.000000,6.425880
75%,7525.50000,7.095870,8.013475,7.103040,93.608480,7.097900,73.892760,84.970195,1.966430,8.115930,7.672460,59.893420,1.000000,7.085230
max,10034.00000,10.049840,12.580870,11.632230,191.261970,10.383570,100.000000,100.000000,100.000000,13.080820,12.155200,100.000000,1.000000,10.628720

## 2. Párová analýza dát

Preskúmajte vzťahy medzi zvolenými dvojicami atribútov.
Identifikujte závislostí medzi dvojicami atribútov a závislosti medzi predikovanou premennou a ostatnými premennými.

## 3. Formulácia a štatistické overenie hypotéz o dátach

Sformulujte dve hypotézy o dátach v kontexte zadanej predikčnej úlohy. Príkladom je napr. pacienti v zlepšenom stave majú v priemere inú (vyššiu/nižšiu) hodnotu nejakej látky alebo hormónu ako pacienti v nezlepšenom stave.
Sformulované hypotézy overte vhodne zvoleným štatistickým testom.

## 4. Identifikácia problémov v dátach s navrhnutým riešením

Identifikujte problémy v dátach napr.: nevhodná štruktúra dát, duplicitné záznamy, nejednotné formáty, chýbajúce hodnoty, vychýlené hodnoty. V dátach sa môžu nachádzať aj iné, tu nevymenované problémy.
Navrhnuté riešenie prvotne realizujte na dátach. Problém s dátami môžete riešiť iteratívne v každej fáze aj vo všetkých fázach podľa potreby.